$color-primary: #33b2eb;
$color-secondary: #2a4af6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  background-color: $color-primary;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  ul {
    list-style: none;
    margin-right: 50px;
  }

  li {
    padding: 15px;
    float: left;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  li:hover {
    background-color: $color-secondary;
    color: white;
    transform: scale(1.2);
  }

  .bxIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border-radius: 50%;
    margin-left: 100px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    .bx.bx-face {
      color: white;
      font-size: 30px;
    }
  }

  .bxIcon:hover {
    transform: scale(1.2);
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.cardItem {
  width: 300px;
  padding: 30px 50px 30px 50px;
  background-image: linear-gradient($color-secondary, $color-primary);
  margin-top: 10px;
  height: 310px;
  overflow: hidden;
  position: relative;

  .delBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    top: 1%;
    left: 95%;
    transform: translate(-95%, -1%);

    img {
      width: 40px;
      border-radius: 50%;
    }

    img:hover {
      background-color: $color-primary;
    }
  }

  .imgContainer {
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: $color-primary;

    img {
      height: 150px;
    }
  }

  .descContainer {
    margin-top: 15px;
    overflow-wrap: break-word;
    overflow: auto;
    height: 90px;
  }

  p {
    margin-top: 10px;
    text-align: justify;
  }
}

.remov {
  display: none;
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: space-between;

    ul {
      margin-right: 0px;
    }

    .bxIcon {
      margin-left: 0px;
    }
  }
  
}