$color-primary: #efeeee;
$color-secondary: #c4c4c4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  background-color: $color-primary;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  ul {
    list-style: none;
    margin-right: 50px;
  }

  li {
    padding: 15px;
    float: left;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  li:hover {
    background-color: white;
    transform: scale(1.1);
  }

  .bxIcon {
    width: 50px;
    height: 50px;
    background-color: $color-secondary;
    border-radius: 50%;
    margin-left: 100px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.cardItem {
  width: 300px;
  padding: 30px 50px 0px 50px;
  background-color: $color-primary;
  margin-top: 10px;
  height: 310px;
  overflow: hidden;
  position: relative;

  .delBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    top: 1%;
    left: 95%;
    transform: translate(-95%, -1%);

    img {
      width: 40px;
      border-radius: 50%;
    }

    img:hover {
      background-color: $color-secondary;
    }
  }

  .imgContainer {
    width: 150px;
    margin: auto;
    background-color: $color-secondary;

    img {
      height: 150px;
    }
  }

  .descContainer { 
    margin-top: 10px;
    overflow: auto;
    height: 110px;
  }

  p {
    margin-top: 10px;
    text-align: justify;
  }
}

.remov {
  display: none;
}
