$color-primary: #33b2eb;
$color-secondary: #2a4af6;
$color-terciary: #2D7AE3;

.bxCadastro {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;

  .searchInput {
    width: 500px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    font-size: 1rem;
  }

  button {
    float: right;
    font-size: 15px;
    padding: 15px 60px 15px 60px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  button:hover {
    background-image: linear-gradient($color-primary, $color-terciary);
    padding: 15px 80px 15px 80px;
  }

  p {
    margin-top: 10px;
  }
}
