$color-primary: #efeeee;
$color-secondary: #c4c4c4;

.bxListagem {
  width: 950px;
  margin: auto;
  margin-top: 100px;
  text-align: center;

  .bxSearch {
    position: relative;

    .searchBtn {
      width: 35px;
      height: 35px;
      background-color: $color-secondary;
      border-radius: 50%;
      position: absolute;
      left: 74%;
      top: 50%;
      transform: translate(-74%, -50%);
    }
  }

  .searchInput {
    width: 500px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    font-size: 1rem;
  }

  .listContainer {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
