$color-primary: #33b2eb;
$color-secondary: #2a4af6;

.bxListagem {
  width: 950px;
  margin: auto;
  margin-top: 100px;
  text-align: center;

  .bxSearch {
    position: relative;

    .searchBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 35px;
      height: 35px;
      background-color: $color-secondary;
      border-radius: 50%;
      position: absolute;
      left: 69%;
      top: 50%;
      transform: translate(-69%, -50%);
    }
  }

  .searchInput {
    width: 500px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    font-size: 1rem;
  }

  .searchInput::placeholder {
    color: black;
  }

  .reload {
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient($color-secondary, $color-primary);
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .reload:hover {
    transform: rotate(-360deg);
  }

  .listContainer {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .bxListagem {
    width: 300px;

    .searchInput {
      width: 300px;
    }

    .bxSearch {
      .searchBtn {
        left: 97%;
        top: 17%;
        transform: translate(-97%, -17%);
      }
    }

    .reload {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}
